html{
    scroll-behavior: smooth;
    font-family: Poppins;
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    height: auto;
}

h1{
    font-weight: bold;
    font-size: 1.9em;
    color: rgb(90, 176, 247);
}

.main-section-right h2{
    font-size: 1.5em;
    color: rgb(255, 255, 255); 
}

.main-heading{
    font-weight: bold;
    font-size: 1.9em;
    color: rgb(90, 176, 247);
}

.container{
    height: 100%;
    width: 100%;
}

.logo-container{
    margin-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    border-bottom: 2px solid #5ab0f7;
    padding-left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img{
    width: 80%;
}

.nav-bar{
    position: fixed;
    background-color: rgb(68, 68, 68);
    width: 15%;
    height: 100%;
    overflow: auto;
 }

 .nav-bar-items-container{
    margin-top: 3%;
    padding-left: 18px;
 }

 li{
        list-style-type: none;
}

 a{
    color: rgb(216, 237, 255);
}

a:hover{ text-decoration: underline;}
 
.nav-link{
    font-size: 16px;
    text-decoration: none;
    outline: none;
}

.rounded-horizontal-ruler{
    border: 2px solid #5ab0f7;
    border-radius: 8px;
}

.main-section-right{
    background-color: #201e1e;
    width: 85%;
    height: 100%;
    color: #ebe2e2;
    margin-left: 15%;
    overflow: auto;
    padding-left: 1.5%;

}